<template>
    <div class="account">
        <div id="accountid">
            <div>
                <h1 class="h1Pract">Mon {{ name }}</h1>
            </div>
        </div>
        <div class="test" id="practdiv">
            <div v-if="username == ''" class="divResult">
                <div v-if="logged == false">
                    <p class="white">Vous êtes en mode visiteur !</p>
                    <button class="button" v-on:click="login()" type="button" style="width:180px;font-size: 18px;">
                       Connexion
                    </button>
                </div>
                <div v-else>
                    <p class="white">Entrez votre prénom :</p>
                    <input  type="text" name="username" id="username" /><br /><br />
                    <button class="button" v-on:click="login()" type="button" style="width:180px;font-size: 18px;">
                       Valider
                    </button><br />
                    <p id="warning" style="color: red;"></p>
                </div>
            </div>
            <div v-else class="divResult" >
                <p class="white">Vous êtes connecté en tant que : <b>{{ username.toUpperCase() }}</b></p>

                <div class="divResult">
                    <button class="button" v-on:click="logout()" type="button" style="width:180px;font-size: 18px;">
                        Déconnexion
                    </button>
                    <a class="button" id="retour" href="#/">Retourner à l'accueil</a>
                    <p>Résultats de ma dernière évaluation :</p>
                    <table id="table">
                        <thead>
                        <tr>
                            <th data-field="operation">Opérations</th>
                            <th deta-field="errors">Résultats</th>
                            <th deta-field="answers">Réponse donnée</th>
                            <th data-field="timer">Temps (en s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="i in (1,10)">
                            <td>{{ op1List[i] }} x {{ op2List[i] }}</td>
                            <td>
                            <span v-if="nbErrorsPerOp[i] == 0"><i class="fa fa-check"
                                                                  aria-hidden="true"></i></span>
                                <span v-else><i class="fa fa-close"
                                                aria-hidden="true"></i></span>
                            </td>
                            <td>
                            <span v-if="essaisTotal[i].length != 0"><div
                                    v-for="i in essaisTotal[i]">{{ i }}</div></span>
                                <span v-else>Bonne réponse !</span>
                            </td>
                            <td>{{ timesPerOp[i] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable */
    export default {
        name: 'Account',
        data() {
            return {
                name: 'compte',
                username: this.account(),
                islogged: this.isconnect(),
                logged: false,
                essaisTotal: {},
                timesPerOp: {},
                nbErrorsPerOp: {},
                op1List: {},
                op2List: {}

            }
        },
        methods: {
            // Fonction qui vérifie si on a déjà un utilisateur connecté
            isconnect: function() {
                var logged = JSON.parse(localStorage.getItem('logged'));
                if (logged === null) {
                    return false;
                } else {
                    if (logged == true) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            // Fonction qui récupère les données localstorage d'un utilisateur
            storageaccount: function() {
                this.essaisTotal = JSON.parse(localStorage.getItem('essaisTotal'));
                this.timesPerOp = JSON.parse(localStorage.getItem('timesPerOp'));
                this.nbErrorsPerOp = JSON.parse(localStorage.getItem('nbErrorsPerOp'));
                this.op1List = JSON.parse(localStorage.getItem('op1List'));
                this.op2List = JSON.parse(localStorage.getItem('op2List'));
            },
            // Fonction qui permet de vérifier si un compte utilisateur existe avec des données
            account: function() {
                var username = JSON.parse(localStorage.getItem('username'));
                console.log(username);
                if (username == null) {
                    this.username = '';
                    this.logged = false;
                    return '';
                } else {
                    this.username = username;
                    this.storageaccount();
                    return '';
                }
            },
            // Fonction qui permet de connecter un nouvel utilisateur
            login: function() {
                if (this.logged == false) {
                    this.logged = true;
                } else {
                    var username = $('#username').val();
                    if (username == "") {
                        var el = document.getElementById("warning");
                        el.innerHTML = "Entrez votre prénom !";
                    }
                    else {
                        localStorage.setItem("username",JSON.stringify(username));
                        localStorage.setItem("logged", true);
                        this.account();
                    }
                }
            },
            // Fonction qui permet de déconnecter un utilisateur
            logout: function() {
                localStorage.removeItem("username"); 
                localStorage.setItem("logged", false);
                this.account();
            }
        }
    }
</script>
