<template>
    <div class="evaluation">
        <h1 v-if="finish == true" class="h1Pract">Résultats !</h1>
        <div v-else class="h1PractBis">
            <h1 v-if="position == 0" class="h1Pract">Mode {{ name }} !</h1>
            <div v-else class="h1Pract">
                <h1>Trouve la bonne réponse !</h1>
                <div class="divPract" id="divPractId">
                    <button v-on:click="play(0)" class="return-item"><i class="fa fa-undo"></i></button>
                    <div class="divPract2">
                        <p>Opération {{ position }}/{{ nbQuestions }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="progress-bar">
                            <div class="progress-bar--step progress-bar--animate" id="progress">
                                <div class="progress-bar--stripe progress-bar--animate-counter-acclerate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="test" id="evaldiv">
            <div v-if="finish == true" class="divResult">
                <a href="#/">Retourner à l'accueil</a>
                <p class="white">Temps total écoulé : {{ timeTotal.toFixed(3) }} secondes</p>
                <p class="white">Total d'erreurs : {{ errors }}</p>
                <table id="table">
                    <thead>
                    <tr>
                        <th data-field="operation">Opérations</th>
                        <th deta-field="errors">Résultats</th>
                        <th deta-field="answers">Réponse donnée</th>
                        <th data-field="timer">Temps (en s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="i in (1,10)">
                        <td>{{ op1List[i] }} x {{ op2List[i] }}</td>
                        <td>
                            <span v-if="nbErrorsPerOp[i] == 0"><i class="fa fa-check"
                                                                  aria-hidden="true"></i></span>
                            <span v-else><i class="fa fa-close"
                                            aria-hidden="true"></i></span>
                        </td>
                        <td>
                            <span v-if="essaisTotal[i].length != 0"><div
                                    v-for="i in essaisTotal[i]">{{ i }}</div></span>
                            <span v-else>Bonne réponse !</span>
                        </td>
                        <td>{{ timesPerOp[i] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div v-if="position == 0" class="container3">
                    <div v-if="username == ''" class="box-1">
                        <a href="#/account">
                            <div class="btn btn-one">
                                <span>Connectez vous pour jouer en mode évaluation !</span>
                            </div>
                        </a>
                    </div>
                    <div v-else class="box-1" v-on:click="play()">
                        <div class="btn btn-one">
                            <span>Démarrer l'évalution !</span>
                        </div>
                    </div>
                </div>
                <div v-else id="container">
                    <div id="left" class="count">{{ op1 }}</div>
                    <div id="center">X</div>
                    <div id="right">{{ op2 }}</div>
                    <div class="container2">
                        <b v-on:click="verify(choices[i], op1*op2, choices[i]+'b')" v-for="i in (0,nbTables)"
                           :id="choices[i]+'b'" class="ballPosibility"><span
                                :id="choices[i]+'bc'">{{ choices[i] }}</span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    export default {
        name: 'Evaluation',
        data() {
            return {
                name: 'Evaluation',
                nbTables: 10,
                nbQuestions: 10,
                position: 0,
                op1: 0,
                op2: 0,
                op1List: [],
                op2List: [],
                finish: false,
                errors: 0,
                choices: [],
                time: 0,
                timeOp: 0,
                timeTotal: 0,
                errorsOp: 0,
                nbErrorsPerOp: {},
                essaisTotal: {},
                essaisPerOp: [],
                timesPerOp: {},
                interval: null,
                username: this.account()
            }
        },
        methods: {
            account: function () {
                var username = JSON.parse(localStorage.getItem('username'));
                if (username === null) {
                    this.username = '';
                    return '';
                } else {
                    this.username = username;
                    return username;
                }
            },
            play: function () {
                // Remise à zéro des variables globales
                this.op1List = [];
                this.op2List = [];
                this.op1 = Math.floor(Math.random() * (10 - 1) + 1);
                this.op2 = Math.floor(Math.random() * (10 - 1) + 1);
                this.op1List.push(this.op1);
                this.op2List.push(this.op2);
                this.timeOp = Date.now();
                this.timeTotal = 0;
                this.time = 0;

                // On crée la liste des opération en mode random
                this.choices = [];
                for (var i = 1; i <= 10; i++) {
                    this.choices.push(i * this.op1);
                }
                this.choices = this.choices.sort(function () {
                    return .5 - Math.random();
                });
                this.choices = [0].concat(this.choices);
                this.errors = 0;
                this.position = 1;
                this.finish = false;
                this.timesPerOp = {};
                this.nbErrorsPerOp = {};


                this.interval = setInterval(function () {
                    // On gère le timing
                    var stop = Date.now();
                    this.time = (stop - this.timeOp) / 1000;
                    this.timesPerOp[this.position] = this.time;
                    this.timeTotal += this.time;
                    this.timeOp = Date.now();

                    // Modification des variables globales
                    this.errors++;
                    this.errorsOp++;
                    this.essaisTotal[this.position] = this.essaisPerOp;
                    this.nbErrorsPerOp[this.position] = this.errorsOp;

                    // Modification des variables globales
                    this.essaisPerOp.push("Aucune réponse !");

                    // Remise à zéro
                    this.essaisPerOp = [];
                    this.errorsOp = 0;

                    this.op1 = Math.floor(Math.random() * (10 - 1) + 1);
                    this.op2 = Math.floor(Math.random() * (10 - 1) + 1);
                    this.op1List.push(this.op1);
                    this.op2List.push(this.op2);

                    this.choices = [];
                    for (var i = 1; i <= 10; i++) {
                        this.choices.push(i * this.op2);
                    }
                    this.choices = this.choices.sort(function () {
                        return .5 - Math.random();
                    });
                    this.choices = [0].concat(this.choices);

                    var top = document.getElementById("divPractId");
                    top.style.backgroundColor = '#ff00006e';
                    this.changeTable();
                }.bind(this), 5000);
            },
            // Fonction qui permet de gérer l'aléatoire et la génération d'une nouvelle opération
            changeTable: function () {
                /*
                 * mettre le compteur de l'interval à 0
                 */
                clearInterval(this.interval);
                this.position++;

                //si nous n'avons pas fini, l'interval peut continuer
                if (this.finish == false) {
                    //changement de table de multiplication au bout de n secondes
                    this.interval = setInterval(function () {
                        console.log("Aucune réponse !");
                        if (this.finish == false) {
                            // On gère le timing
                            var stop = Date.now();
                            this.time = (stop - this.timeOp) / 1000;
                            this.timesPerOp[this.position] = this.time;

                            this.timeTotal += this.time;
                            this.timeOp = Date.now();

                            // Modification des variables globales
                            //on ajoute l'erreur
                            this.errors++;
                            this.errorsOp++;
                            this.essaisPerOp.push("Aucune réponse !");
                            this.essaisTotal[this.position] = this.essaisPerOp;
                            this.nbErrorsPerOp[this.position] = this.errorsOp;

                            //on remet à zéro
                            this.essaisPerOp = [];
                            this.errorsOp = 0;
                            var top = document.getElementById("divPractId");
                            top.style.backgroundColor = '#ff00006e';
                            /*
                             * Au contraire du practice
                             * Va changer de table si le temps est écoulé
                             */
                            if (this.position == 10) {
                                clearInterval(this.interval);
                                this.op1List = [0].concat(this.op1List);
                                this.op2List = [0].concat(this.op2List);
                                this.position = 0;
                                this.finish = true;
                                console.log(this.essaisTotal);
                                // Ajoute des localStorages
                                localStorage.setItem("nbErrorsPerOp", JSON.stringify(this.nbErrorsPerOp));
                                localStorage.setItem("essaisTotal", JSON.stringify(this.essaisTotal));
                                localStorage.setItem("timesPerOp", JSON.stringify(this.timesPerOp));
                                localStorage.setItem("op1List", JSON.stringify(this.op1List));
                                localStorage.setItem("op2List", JSON.stringify(this.op2List));
                            } else {
                                this.op1 = Math.floor(Math.random() * (10 - 1) + 1);
                                this.op2 = Math.floor(Math.random() * (10 - 1) + 1);
                                this.op1List.push(this.op1);
                                this.op2List.push(this.op2);

                                this.choices = [];
                                for (var i = 1; i <= 10; i++) {
                                    this.choices.push(i * this.op2);
                                }
                                this.choices = this.choices.sort(function () {
                                    return .5 - Math.random();
                                });
                                this.choices = [0].concat(this.choices);
                                this.changeTable();
                            }
                        }
                    }.bind(this), 5000);
                }

            },
            verify: function (reponse, solution, id) {
                var bar = document.getElementById("progress");

                // on arrête le timer de la bar de progression
                bar.style.animation = 'none';

                // on la remet en route
                setTimeout(function () {
                    bar.style.animation = 'progress 5s linear infinite';
                }, 0);

                // Récupération des éléments
                var el = document.getElementById(id);
                var elFont = document.getElementById(id + 'c');
                var top = document.getElementById("divPractId");

                // On gère le timing
                var stop = Date.now();
                this.time = (stop - this.timeOp) / 1000;
                this.timesPerOp[this.position] = this.time;
                this.timeTotal += this.time;
                this.timeOp = Date.now();

                // Si le réponse donnée est correcte
                if (reponse == solution) {
                    this.essaisTotal[this.position] = this.essaisPerOp;
                    this.nbErrorsPerOp[this.position] = this.errorsOp;
                    // Remise à zéro
                    this.essaisPerOp = [];
                    this.errorsOp = 0;

                    this.op1 = Math.floor(Math.random() * (10 - 1) + 1);
                    this.op2 = Math.floor(Math.random() * (10 - 1) + 1);
                    this.op1List.push(this.op1);
                    this.op2List.push(this.op2);
                    console.log("PLAY : OP1 = " + this.op1 + " - OP2 = " + this.op2);

                    this.choices = [];
                    for (var i = 1; i <= 10; i++) {
                        this.choices.push(i * this.op2);
                    }
                    this.choices = this.choices.sort(function () {
                        return .5 - Math.random();
                    });
                    this.choices = [0].concat(this.choices);

                    // Modification du style
                    elFont.style.color = 'black';
                    el.style.backgroundColor = '#ffe23f';
                    setTimeout(function () {
                        elFont.style.color = 'white';
                        el.style.backgroundColor = '#5a5969';
                    }, 1000);
                    top.style.backgroundColor = '#ffe23f';
                    if (this.position == 10) {
                        clearInterval(this.interval);
                        this.op1List = [0].concat(this.op1List);
                        this.op2List = [0].concat(this.op2List);
                        this.position = 0;
                        this.finish = true;

                        // Ajoute des localStorages
                        localStorage.setItem("nbErrorsPerOp", JSON.stringify(this.nbErrorsPerOp));
                        localStorage.setItem("essaisTotal", JSON.stringify(this.essaisTotal));
                        localStorage.setItem("timesPerOp", JSON.stringify(this.timesPerOp));
                        localStorage.setItem("op1List", JSON.stringify(this.op1List));
                        localStorage.setItem("op2List", JSON.stringify(this.op2List));
                    } else {
                        this.changeTable();
                    }
                } else { // Si la réponse donnée est fausse
                    var audio = new Audio('https://21200453.users.info.unicaen.fr/M2/multilearn/motus-boule-noire.mp3');
                    //var audio = new Audio('/assets/sound/motus-boule-noire.mp3');
                    audio.play();
                    // Modification des variables globales
                    this.errors++;
                    this.errorsOp++;
                    this.essaisTotal[this.position] = this.essaisPerOp;
                    this.nbErrorsPerOp[this.position] = this.errorsOp;

                    // Modification des variables globales
                    this.essaisPerOp.push(reponse + " est une mauvaise réponse !");

                    // Remise à zéro
                    this.essaisPerOp = [];
                    this.errorsOp = 0;

                    this.op1 = Math.floor(Math.random() * (10 - 1) + 1);
                    this.op2 = Math.floor(Math.random() * (10 - 1) + 1);
                    this.op1List.push(this.op1);
                    this.op2List.push(this.op2);
                    console.log("PLAY : OP1 = " + this.op1 + " - OP2 = " + this.op2);

                    this.choices = [];
                    for (var i = 1; i <= 10; i++) {
                        this.choices.push(i * this.op2);
                    }
                    this.choices = this.choices.sort(function () {
                        return .5 - Math.random();
                    });
                    this.choices = [0].concat(this.choices);

                    // Modification du style
                    el.style.backgroundColor = 'black';
                    setTimeout(function () {
                        el.style.backgroundColor = '#5a5969';
                    }, 1000);
                    top.style.backgroundColor = '#F33E52';
                    //si nous sommes à la fin de la compétition
                    if (this.position == 10) {
                        clearInterval(this.interval);
                        this.op1List = [0].concat(this.op1List);
                        this.op2List = [0].concat(this.op2List);
                        this.position = 0;
                        this.finish = true;
                        console.log(this.essaisTotal);
                        // Ajoute des localStorages
                        localStorage.setItem("nbErrorsPerOp", JSON.stringify(this.nbErrorsPerOp));
                        localStorage.setItem("essaisTotal", JSON.stringify(this.essaisTotal));
                        localStorage.setItem("timesPerOp", JSON.stringify(this.timesPerOp));
                        localStorage.setItem("op1List", JSON.stringify(this.op1List));
                        localStorage.setItem("op2List", JSON.stringify(this.op2List));
                        //si nous ne sommes pas à la fin
                    } else {
                        this.changeTable();
                    }
                }
            }
        }
    }

</script>
