<template>
    <div class="home" id="c">
        <h1 class="h1Compet">{{ msg }}</h1>
        <br />
        <div class="wrapper">
            <ul>
                <li>
                    <router-link to="practice" tag="a" class="fancy-button pop-onhover bg-gradient1">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span class="shadow-typo">Entrainement</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="evaluation" tag="a" class="fancy-button pop-onhover bg-gradient3">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                        <span class="shadow-typo">Compétition</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
    export default {
        name: 'Home',
        data () {
            return {
                msg: 'Apprendre ses tables de multiplication tout en s\'amusant !'
            }
        }
    }

    /*------------------------------ Background ---------------------------------*/
    const colors = ["#3CC157", "#2AA7FF", "#1B1B1B", "#FCBC0F", "#F85F36"];

    const numBalls = 40;
    const balls = [];

    for (let i = 0; i < numBalls; i++) {
        let ball = document.createElement("div");
        ball.classList.add("ballBackground");
        ball.style.background = colors[Math.floor(Math.random() * colors.length)];
        ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
        ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
        ball.style.transform = `scale(${Math.random()})`;
        ball.style.width = `${Math.random()}em`;
        ball.style.height = ball.style.width;

        balls.push(ball);
        document.body.append(ball);
    }

    // Keyframes
    balls.forEach((el, i, ra) => {
        let to = {
            x: Math.random() * (i % 2 === 0 ? -11 : 11),
            y: Math.random() * 12
        };

        let anim = el.animate(
            [
                {transform: "translate(0, 0)"},
                {transform: `translate(${to.x}rem, ${to.y}rem)`}
            ],
            {
                duration: (Math.random() + 1) * 2000, // random duration
                direction: "alternate",
                fill: "both",
                iterations: Infinity,
                easing: "ease-in-out"
            }
        );
    });

</script>