
<template>
    <div class="practice">
        <h1 v-if="finish == true" class="h1Pract">Résultats de la table {{ table }}</h1>
        <div v-else class="h1PractBis">
            <h1 v-if="position == 0" class="h1Pract">Mode {{ name }} - Choisir une table !</h1>
            <div v-else class="h1Pract">
                <h1>C'est parti pour la table de {{ table }} !</h1>
                <div class="divPract" id="divPractId">
                   <button v-on:click="retry()" class="return-item"><i class="fa fa-undo"></i></button>
                    <div class="divPract2">
                        <p>Opération {{ position }}/{{ nbQuestions }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="test" id="practdiv">
            <div v-if="finish == true" class="divResult">
                <p class="white">Temps total écoulé : {{ timeTotal.toFixed(3) }} secondes</p> 
                <p class="white">Total d'erreurs : {{ errors }}</p>
			    <table id="table">
				    <thead>
                        <tr>
                            <th data-field="operation">Opération</th>
                            <th deta-field="errors">Nombre d'erreurs</th>
                            <th deta-field="answers">Réponses données</th>
                            <th data-field="timer">Temps (en s)</th>
                        </tr>
					</thead>
					<tbody>
                        <tr v-for="i in (1,10)">
                            <td>{{ table }} x {{ i }}</td>
                            <td>
                                <span v-if="nbErrorsPerOp[i] == 0"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span v-else>{{ nbErrorsPerOp[i] }}</span>
                            </td>
                            <td>
                                <span v-if="essaisTotal[i].length != 0"><div v-for="i in essaisTotal[i]">({{ i }})</div></span>
                                <span v-else>Bonne réponse !</span>
                            </td>
                            <td>{{ timesPerOp[i] }}</td>
                        </tr>
					</tbody>
				</table>
                <a href="#/">Retourner à l'accueil</a>
            </div>
            <div v-else>
                <div v-if="position == 0" class="container3">
                    <div class="box-1" v-on:click="play(i)" v-for="i in (1,nbTables)" :id=i>
                        <div class="btn btn-one">
                            <span>Table de {{ i }}</span>
                        </div>
                    </div>
                </div>
                <div v-else id="container">
                    <div id="left" class="count">{{ position }}</div>
                    <div id="center">X</div>
                    <div id="right">{{ table }}</div>
                    <div class="container2">
                        <b v-on:click="verify(opListe[i], position*table, opListe[i]+'b')" v-for="i in (0,nbTables)"
                           :id="opListe[i]+'b'" class="ballPosibility"><span :id="opListe[i]+'bc'">{{ opListe[i] }}</span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable */
    export default {
        name: 'Practice',
        data () {
            return {
                name: 'practice',
                nbTables: 10,
                nbQuestions: 10,
                table: 0,
                position: 0,
                finish: false,
                errors: 0,
                opListe: [],
                time: 0,
                timeOp: 0,
                timeTotal: 0,
                errorsOp: 0,
                nbErrorsPerOp: {},
                essaisTotal: {},
                essaisPerOp: [],
                timesPerOp: {}
            }
        },
        methods: {
            retry: function() {
                this.position = 0;
            },
            play: function(tableNumber) {
                // Remise à zéro des vairbales globales
                this.timeOp = Date.now();
                this.timeTotal = 0;
                this.time = 0;
                // On crée la liste des opération en mode random
                this.opListe = [];
                for (var i = 1 ; i <= 10 ; i++) {
                    this.opListe.push(i*tableNumber);
                }
                this.opListe = this.opListe.sort(function() {
                    return .5 - Math.random();
                });
                this.opListe = [0].concat(this.opListe);
                this.errors = 0;
                this.position = 1;
                this.finish = false;
                this.timesPerOp = {};
                this.nbErrorsPerOp = {};
                this.table = tableNumber;
            },
            verify: function(reponse, solution, id) {
                // Récupération des éléments
                var el = document.getElementById(id);
                var elFont = document.getElementById(id+'c');
                var top = document.getElementById("divPractId");

                // Si le réponse donnée est correcte
                if (reponse == solution) {
                    // On gère le timing
                    var stop = Date.now();
                    this.time = (stop - this.timeOp)/1000;
                    this.timesPerOp[this.position] = this.time;
                    this.timeTotal += this.time;
                    this.timeOp = Date.now();

                    // Modification des variables globales
                    this.essaisTotal[this.position] = this.essaisPerOp;
                    this.essaisPerOp = [];  
                    this.nbErrorsPerOp[this.position] = this.errorsOp;
                    this.errorsOp = 0;
                    if (this.position++ == 10) {
                        this.position = 0;
                        this.finish = true;
                    }

                    // Modification du style
                    elFont.style.color = 'black';
                    el.style.backgroundColor = '#ffe23f';
                    setTimeout(function(){
                        elFont.style.color = 'white';
                        el.style.backgroundColor = '#5a5969';
                    }, 1000);
                    top.style.backgroundColor = '#ffe23f';
                } else { // Si la réponse donnée est fausse
                    // Modification des variables globales
                    this.errors++;
                    this.errorsOp++;
                    this.essaisPerOp.push(reponse);  

                    // Modification du style
                    el.style.backgroundColor = 'black';
                    setTimeout(function(){
                        el.style.backgroundColor = '#5a5969';
                    }, 1000);
                    top.style.backgroundColor = '#F33E52';
                }         
            }
        }
    }

</script>
