@import url('https://fonts.googleapis.com/css?family=Bungee|Fugaz+One');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700italic);

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fugaz One', cursive;
    padding: 0;
}

button {
    border: none;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    cursor: pointer;

}

.h1Compet, .h2Compet {
    color: #fa9c4d;
}

.h1Pract, .h2Pract {
    color: #52A0FD;
}

.h1Compet, .h2Compet, .h1Pract, .h2Pract {
    font-weight: normal;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    font-size: 20px;
}

.shadow-typo {
    font-family: 'Bungee', cursive;
    position: relative;
    display: inline-block;
    line-height: 290px;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 0px #D10E31, 8px 8px 0px rgba(209, 14, 49, 0.1);
}

.threedee-typo {
    text-align: center;
    margin: 0;
    font-family: 'Bungee', cursive;
    font-size: 6rem;
    text-transform: uppercase;
    color: #f2395a;
    -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
    transform: skew(-5deg, -5deg) rotate(5deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    text-shadow: 1px 1px #d10e31, 2px 2px #d10e31, 3px 3px #d10e31,
    4px 4px #d10e31, 5px 5px #d10e31, 6px 6px #d10e31, 7px 7px #d10e31,
    8px 8px #890920, 9px 9px #890920, 10px 10px #890920,
    11px 11px 15px rgba(0, 0, 0, 0.5);
}

.ballBackground {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

/*------ menu -------*/
@font-face {
    font-family: Socialico;
    src: url('https://github.com/benaston/express-example/blob/master/public/fonts/socialico.ttf?raw=true');
    font-style: normal;
    font-weight: normal;
}

nav {
    position: fixed;
    font-size: 2.0em;
    line-height: 1.0em;
    color: white;
    width: 7em;
    height: 9.0em;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -6em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    height: 78px;
    width: 280px;
    position: relative;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    -webkit-transition: -webkit-transform 500ms, background-color 500ms, color 500ms;
    transition: transform 500ms, background-color 500ms, color 500ms;
    display: inline-block;
    margin-left: 0;
}

nav ul li:nth-child(1) {
    background-color: #f3395a;
}

nav ul li:nth-child(1) a p {
    padding-left: 30px;
}

nav ul li:nth-child(2) {
    background-color: #52A0FD;
}

nav ul li:nth-child(3) {
    background-color: #ffe140;
}

nav ul li:nth-child(4) {
    background-color: #4ed12d;
}

nav ul li:hover {
    background-color: #f3395a;
    -webkit-transform: translateX(6em);
    transform: translateX(6em);
}

nav ul li a p {
    float: left;
    line-height: 26px;
    font-size: 25px;
    margin-right: 10px;
    margin-left: 40px;
}

a {
    color: #FFF;
    text-decoration: none;
}

/*----------------*/

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 33px;
    background: #f3395a;
    z-index: 2;
}

/*------------------------------------------------------ Home --------------------------------------------------------*/

.bg-gradient1 span,
.bg-gradient1:before {
    background: #52A0FD;
    background: -webkit-gradient(linear, left top, right top, from(#52A0FD), color-stop(80%, #00e2fa), to(#00e2fa));
    background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}

.bg-gradient3 span,
.bg-gradient3:before {
    background: #f2395a;
    background: -webkit-gradient(linear, left top, right top, from(#f2395a), color-stop(80%, #ffe140), to(#ffe140));
    background: linear-gradient(to right, #f2395a 0%, #ffe140 80%, #ffe140 100%);
}

/* General */
.wrapper {
    text-align: center;
    -webkit-transform-style: perserve-3d;
    transform-style: perserve-3d;
    perspecive: 800px;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

/* fancy Button */
.fancy-button {
    display: inline-block;
    margin: 30px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}

.fancy-button:before {
    content: '';
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: 30px;
    right: 30px;
    z-index: -1;
    border-radius: 30em;
    -webkit-filter: blur(20px) brightness(0.95);
    filter: blur(20px) brightness(0.95);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    float: right;
    margin-right: 20px;
}

.fa-home:before, .fa-book:before, .fa-trophy:before, .fa-user:before {
    font-size: 60px;
    vertical-align: middle;
    line-height: 80px;
}

.fancy-button i {
    color: white;
    width: 60px;
    height: 60px;
    z-index: 10000;
    font-size: 1.265em;
    position: absolute;
    left: 40%;
    top: 20%;
}

.fancy-button span {
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-align: center;
    line-height: 350px;
}

.fancy-button:focus, .fancy-button:active {
    color: #ffffff;
}

.fancy-button:hover {
    color: #ffffff;
}

.fancy-button:hover span {
    -webkit-filter: brightness(1.05) contrast(1.05);
    filter: brightness(1.05) contrast(1.05);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.fancy-button:hover:before {
    bottom: 0;
    -webkit-filter: blur(10px) brightness(0.95);
    filter: blur(10px) brightness(0.95);
}

.fancy-button.pop-onhover:before {
    opacity: 0;
    bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
    bottom: -7px;
    opacity: 1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

.fancy-button.pop-onhover:hover span {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.fancy-button.pop-onhover:hover:active span {
    -webkit-filter: brightness(1) contrast(1);
    filter: brightness(1) contrast(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
    bottom: 0;
    -webkit-filter: blur(10px) brightness(0.95);
    filter: blur(10px) brightness(0.95);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*----------------- Nouveau circle --------------------*/


/*--------------------------------------------------- Practice -------------------------------------------------------*/

.practice {
    width: 864px;
    min-height: 500px;
    margin: auto;
}

.divPract {
    width: 864px;
    height: 85px;
    margin: auto;
    background: #ffe23f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divPract p {
    font-size: 53px;
    margin: 0;
    color: transparent;
    background-color: white;
    text-shadow: 0.02em 0.02em 0.0175em rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.025em transparent;
    background-clip: text;
    text-stroke: 0.025em transparent;
    opacity: 0.66;
}

.divPract2 {
    width: 500px;
    margin: auto;
    margin-left: 190px;
}

.divPract2 :nth-child(1) {
    margin-bottom: 10px;
}

.test {
    width: 864px;
    position: absolute;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

#container {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.container2 {
    height: 40px;
    width: 70%;
    margin: 10px auto;
}

.container2, .container3 {
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.btn:before, .btn:after {
    content: "";
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;

}

#left, #center, #right {
    height: 100px;
    line-height: 130px;
    font-size: 100px;
    color: white;
    /*margin-top: -40px;*/
}

#left, #right, #center {
    text-shadow: 1px 1px #d10e31, 2px 2px #d10e31, 3px 3px #d10e31, 4px 4px #d10e31, 5px 5px #d10e31, 6px 6px #d10e31, 7px 7px #d10e31, 8px 8px #890920, 9px 9px #890920, 10px 10px #890920, 11px 11px 15px rgba(0, 0, 0, 0.5);
}

#left {
    float: left;
    width: 100px;
    margin-left: 130px;
}

#center {
    display: inline-block;
    width: 100px;
}

#right {
    float: right;
    margin-right: 130px;
    width: 100px;
}

.ballPosibility {
    box-shadow: 0 3em 2.5em -2.5em rgba(53, 64, 73, 0.6), 0 0 1em -0.35em rgba(255, 255, 255, 0.2), 0 -1em 1.1em 0 rgba(255, 255, 255, 0.5) inset, 0 0 2.5em 0 rgba(0, 0, 0, 0.4) inset;
    background: radial-gradient(circle at 33% -25%, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.07) 50%), radial-gradient(circle at 50% 135%, rgba(0, 0, 0, 0.23) 43%, rgba(255, 255, 255, 0)), radial-gradient(circle at 50% -35%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0)), radial-gradient(circle at 50% 0, #ffffff, #d5d5d5);
    background-size: 150px, 100px, 100px, 100px;
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    top: 50%;
    float: left;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    background: #5a5969;
    transition: 0.3s cubic-bezier(0, 1.2, .2, 1.5);
}

.ballPosibility:hover {
    transform: scale(1.5, 1.5);
    z-index: 100000;
}

.ballPosibility span {
    line-height: 100px;
    color: white;
    font-size: 40px;
}

.withe {
    color: white;
}

/*---------- choix ------------*/

.box-1 {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[id="1"] {
    background: #87cefa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

[id="2"] {
    background: #26fac1;
}

[id="3"] {
    background: #fa89da;
}

[id="4"] {
    background: #4ed12d;
}

[id="5"] {
    background: #b8fa5c;
}

[id="6"] {
    background: lightskyblue;
}

[id="7"] {
    background: #fac11b;
}

[id="8"] {
    background: #06d1d0;
}

[id="9"] {
    background: #064ed1;
}

[id="10"] {
    background: #D10E31;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 100px;
}

.btn {
    line-height: 12px;
    height: 60px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
    line-height: 59px;
    font-size: 26px;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.fa-undo {
    font-size: 60px;
    line-height: 80px;
    margin-right: 7px;
}

.return-item {
    background: #f2395a;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

/*------- result ---------*/

.divResult {
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    height: 500px;
}

.rate {
    text-align: center;
    width: 200px;
    height: 200px;
    ouline: thin solid lightgray;
}

#emoji {
    font-size: 120px;
    height: 170px;
    line-height: 170px;
}

input {
    cursor: ew-resize;
}

.fa-check {
    color: #ffe23f;
}

.fa-close {
    color: #F33E52;
}

.fa-check, .fa-close {
    font-size: 40px;
    float: none;
    margin: auto;
}

#table tr {
    font-size: 20px;
}

#table td {
    text-align: center !important;
    color: white;
}

#table th {
    text-align: center !important;
    color: white;
    background: #f3395a;
}

.white {
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    color: white;
}

#practdiv2 {
    background:#88092091;
}
/*-------------------------------------------------- Evaluation ------------------------------------------------------*/

#evaldiv {
    background: #f2395a;
    background: -webkit-gradient(linear, left top, right top, from(#f2395a), color-stop(80%, #ffe140), to(#ffe140));
    background: linear-gradient(to right, #f2395a 0%, #ffe140 80%, #ffe140 100%);

}

#practdiv {
    background: -webkit-gradient(linear, left top, right top, from(#52A0FD), color-stop(80%, #00e2fa), to(#00e2fa));
    background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}

table {
    margin: auto;
    margin-bottom: 40px;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#52A0FD), color-stop(80%, #00e2fa), to(#00e2fa));
    background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 15px;
}

/**
 * compteur
 */
.col {
    width: 864px;
    margin: auto;
}

.progress-bar {
    background: #ececec;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.progress-bar--step {
    height: 1rem;
    background-color: #52A0FD;
    overflow: hidden;
}

.progress-bar--stripe {
    height: 100%;
    width: calc(100% + 200px);
    background-size: 100px 100px;
    opacity: 0.3;
    background-image: linear-gradient(45deg, #ececec 0%, #ececec 25%, transparent 25%, transparent 50%, #ececec 50%, #ececec 75%, transparent 75%, transparent 100%);
}
.progress-bar--stripe.progress-bar--animate-counter-acclerate {
    width: 200%;
}

.progress-bar--animate {
    -webkit-animation: progress 5s linear infinite;
    animation: progress 5s linear infinite;
}

@-webkit-keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes counter-progress {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }
}
@keyframes counter-progress {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }
}

/*---------------------------------------------------- Account -------------------------------------------------------*/

.button {
    border-radius: 30px;
    color: #f3395a;
}

input {
    cursor: pointer;
}

#username {
    border-radius: 30px;
    height: 30px;
    width: 300px;
    padding-left: 20px;
    border: none;
}

#accountid {
    width: 864px;
    height: 100px;
    background: #ffe23fb3;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: auto;
    padding-top: 10px;
    margin-top: 40px;
}

.box-1 a {
    width: 100%;
}

#retour {
    background: white;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    width: 220px;
    text-decoration: none;
    /* font-family: calibri; */
    font: 400 17px system-ui;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

p {
    font-size: 24px;
    color: white;
}